@use '@styles/settings/index' as *;
@use '@styles/utils' as *;

.header {
  @include media($size-tablet) {
    grid-template-columns: 0.7fr 2fr 3fr 1.5fr;
    grid-template-rows: 5rem 1.5rem;
    grid-template-areas:
      'logo nav nav nav'
      'wip wip wip wip';
    /* gap: 20px; */

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;

    transition: top 0.25s ease-in-out;
    z-index: 100;

    overflow: clip;

    border-bottom: 2px solid $color-downplay;
  }
}

