@use '@styles/settings/index' as *;
@use '@styles/utils' as *;

.header {
  align-items: center;

  display: grid;
  grid-template-columns: 0.7fr 2fr 3fr 1.5fr;
  grid-template-rows: 5rem auto;
  grid-template-areas:
    'logo nav nav nav'
    'wip wip wip wip';

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;

  transition: top 0.25s ease-in-out;
  z-index: 100;

  overflow: clip;

  border-bottom: 2px solid rgba($color-downplay, 0.2);
}

.header__logo {
  grid-area: logo;
  justify-self: center;

  display: flex;
  flex-flow: row nowrap;
  gap: 15px;

  padding: 0 30px;

  span {
    font-size: 3rem;
    font-weight: 500;
  }
}

.header__nav {
  grid-area: nav;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 20px;

  font-family: $font-primary;
  font-size: 1.2rem;

  ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
  }

  a {
    color: $color-text-primary;
  }
}

.header__navItem {
  &--catalog {
  }

  &--diagnostics {
  }

  &--catalogUps {
  }
}

.header__navItem--contacts {
  display: flex;
  gap: 20px;


  font-family: $font-mono;
  font-size: 1.5rem;

  p {
    display: inline;
    line-height: 15px;
  }
}

.header__wip {
  grid-area: wip;

  width: 100%;
  padding: 4px;

  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: $font-mono;

  background: rgba($color-downplay, 0.2);
}

