@use '@styles/settings/index' as *;
@use '@styles/utils' as *;

.header__cartContainer {
  button {
    transition:
      color 0.25s ease-in-out,
      background-color 0.25s ease-in-out;
  }

  &:hover {
  }

  button:hover {
    color: white;
    background: $color-confirm;
  }
}
