@use '@styles/settings/index' as *;
@use '@styles/utils' as *;

.carBat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

  overflow: hidden;

  min-width: 320px;
  max-width: 400px;

  font-family: system-ui, sans-serif;
  position: relative;
}

.carBat:hover {
}

/* === IMAGE === */
.carBat__image {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: contain;
  }

  z-index: 1;

  .carBat__dimensions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    z-index: 5;
    position: absolute;
    bottom: 0;

    padding: 0.3rem;

    height: 1.5rem;
    width: 100%;

    background: rgba(248, 249, 250, 0.95);

    svg {
      display: block;

      width: 2rem;
      height: auto;
    }
  }
}

.carBat__dimensionsValues {
  padding: 0 0 0 0.2rem;

  font-family: $font-mono;
  font-weight: 600;
  font-size: 1.1rem;

  span {
    color: $color-secondary;
  }
}

/* .carBat:hover .carBat__image img { */
/*   transform: scale(1.05); */
/* } */

/* === INFO GRID === */
.carBat__info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
  grid-template-areas:
    'name price'
    'type price'
    'specs specs'
    'meta buy';
  gap: 0.7rem 1rem;

  padding: 1.2rem;
}

.carBat__name {
  grid-area: name;
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
  margin: 0;

  @include truncate_lines_after(1);
  /* width: 500px; */
}

.carBat__type {
  grid-area: type;
  font-size: 0.9rem;
  color: #777;
  margin: 0;
}

.carBat__price {
  grid-area: price;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  &--old {
    color: #999;
    font-size: 0.85rem;
    text-decoration: line-through;
  }

  &--current {
    font-size: 1.4rem;
    font-weight: 700;
    color: #1a8917;
  }
}

/* === SPECS === */
.carBat__specs {
  grid-area: specs;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* gap: 1rem 0; */
  /* padding: 0.5rem 0; */

  font-family: $font-mono;
  font-weight: 600;
  margin-inline: -1.2rem;
  text-align: center;

  background: #f8f9fa;

  & > p {
    font-size: 1.7rem;

    span {
      color: $color-secondary;
      font-size: 0.6em;
    }
  }
}

.carBat__meta {
  grid-area: meta;

  align-self: center;
  justify-self: start;

  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.85rem;

  color: $color-secondary;
}

.carBat__origin {
  color: #0078d7;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.carBat__orderBtn {
  @include inactive(100%, 0.5);

  grid-area: buy;

  align-self: center;
  justify-self: center;

  /* background: #0078d7; */
  border: 2px solid $color-confirm;
  color: $color-confirm;

  font-family: $font-emoji;
  font-weight: 600;
  font-size: 1.3rem;

  padding: 0.6rem 1rem;
  border-radius: 10px;

  cursor: pointer;
  transition:
    background 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    border-color: transparent;
    color: white;
    background: $color-confirm;
  }
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .carBat {
    max-width: 100%;
  }

  .carBat__info {
    grid-template-columns: 1fr;
    grid-template-areas:
      'name'
      'type'
      'price'
      'specs'
      'meta'
      'buy';
  }

  .carBat__price {
    align-items: flex-start;
  }

  .carBat__order-btn {
    width: 100%;
    justify-self: stretch;
  }
}
