@use '@styles/settings/index' as *;

.header {
  display: flex;
  align-items: center;
  gap: 20px;

  height: 80px;

  overflow: clip;

  border-bottom: 2px solid $color-downplay;
}

.header__logo {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;

  padding: 0 30px;

  span {
    /* font-family: $font-pacifico; */
    font-size: 3rem;
    font-weight: 500;
    /* color: $color-blu-dasl; */
  }

  &:hover {
    span {
      /* color: $color-blu-dasl; */
    }
  }

  @media only screen and (width < 1200px) {
    span {
      display: none;
    }
  }

  @media only screen and (width < 300px) {
    img {
      display: none;
    }
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 20px;

  font-family: $font-primary;
  font-size: 1.2rem;

  ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
  }
}

.header__navItem {
  &--catalog {
  }

  &--diagnostics {
  }
}

.header__navItem--contacts {
  display: flex;
  gap: 20px;

  font-size: 1.5rem;

  p {
    display: inline;
    line-height: 15px;
  }
}
