@use '@styles/settings/index' as *;

.header {
  display: flex;
  align-items: center;
  gap: 20px;

  /* position: sticky; */
  /* top: 0px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;

  transition: top 0.25s ease-in-out;
  z-index: 100;

  height: 80px;

  overflow: clip;

  border-bottom: 2px solid $color-downplay;
}

.header__logo {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;

  padding: 0 30px;

  span {
    /* font-family: $font-pacifico; */
    font-size: 3rem;
    font-weight: 500;
    /* color: $color-blu-dasl; */
  }

  &:hover {
    span {
      /* color: $color-blu-dasl; */
    }
  }

  @media only screen and (width < 1200px) {
    span {
      display: none;
    }
  }

  @media only screen and (width < 300px) {
    img {
      display: none;
    }
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 20px;

  font-family: $font-primary;
  font-size: 1.2rem;

  ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
  }
}

.header__navItem {
  &--catalog {
  }

  &--diagnostics {
  }

  &--catalogUps {
    filter: grayscale(100%);
    opacity: 0.5;
    pointer-events: none;

    /* transition: all 0.3s ease; */
    /* &:hover { */
    /*   filter: none; */
    /*   opacity: 1; */
    /*   transform: scale(1.05); */
    /* } */
  }
}

.header__navItem--contacts {
  display: flex;
  gap: 20px;

  font-size: 1.5rem;

  p {
    display: inline;
    line-height: 15px;
  }
}
