@use '@styles/settings/index' as *;

.inLink {
  transition: color 0.25s ease-in-out;
}

.inLink--primary {
  @extend .inLink;

  color: $color-primary;

  &:hover {
    color: $color-secondary;
    text-decoration: underline;
  }
}
