@use '@styles/settings/index' as *;
@use '@styles/utils' as *;

.home__hero {
  grid-area: hero;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  p {
    /* display: inline-block; */
    max-width: 70%;
    height: min-content;

    font-size: 2rem;
  }
}
