@use '@styles/settings/index' as *;
@use '@styles/utils' as *;

/* --------- TABLET --------- */

@include media($size-tablet) {
  .home.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
      'hero diagnostics'
      'auto ups';

    padding: 35px 0;

    width: 100%;
  }

  .home__hero {
    p {
    }
  }
}
