@use '@styles/settings/index' as *;
@use '@styles/utils' as *;

.categories {
  margin-bottom: 50px;
}

.categories__heading {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  span {
    font-size: 2.5rem;
    font-family: $font-primary;
  }
}

.categories__container {
  padding: 150px;
  display: block;
}

.categories__content {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 100%;

  /* max-height: 1200px; */
  /* min-height: 700px; */

  @include media($size-tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media($size-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media($size-mobile--small) {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
  }
}

.categories__catalogLink {
  display: block;
  padding-top: 3rem;

  font-size: 1.2rem;
  text-align: center;
}

.categories__card {
  display: grid;
  grid-template-areas:
    'image image image'
    'name name name'
    '. . .'
    'prices prices buy_btn';
  grid-template-columns: 70% 10% 20%;
  grid-template-rows: 60% 15% 10% 15%;

  height: 100%;
  width: 100%;

  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.categories__cardImage {
  grid-area: image;

  width: 100%;
  height: 100%;

  margin: 0 auto;
  overflow: clip;

  object-fit: cover;
}

.categories__cardName {
  grid-area: name;

  padding: 1rem 0;

  /* font-size: 1.1rem; */
  /* text-align: left; */

  line-height: 1.3rem;
  @include clampLineOn(2);
}

.rating--categoriesCard {
  /* @extend .rating; */
}

.categories__cardPrices {
  grid-area: prices;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;

  text-align: left;
  font-size: 1.3rem;

  del {
    display: block;
    color: $color-downplay;

    font-size: 0.9em;
  }

  ins {
    display: block;

    color: $color-highlight;
    font-size: 1.2em;
    letter-spacing: 2px;

    span {
      font-size: 0.9rem;
    }
  }

  /* Accessability related*/
  /* Ins tag is not read by screen reader by default*/
  /* Having before and after on ins fixes this behavior  */
  ins::before,
  ins::after {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  ins::before {
    content: ' [insertion start] ';
  }

  ins::after {
    content: ' [insertion end] ';
  }
}

.categories__cardBuyBtn {
  grid-area: buy_btn;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-content: center;

  button {
    width: min-content;
    height: min-content;

    padding: 0.5rem;
    border-radius: 5px;

    color: $color-confirm;
    font-size: 1.5rem;

    /* @include button--icon($color-confirm); */
  }

  /* display: ; */
  /* padding: 1rem; */
  /* font-size: 1.5rem; */
}
