@use '@styles/settings/index' as *;
@use '@styles/utils' as *;

.catalog__hero{
  grid-area: hero;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  p {
    max-width: 80%;
    height: min-content;

    font-size: clamp(1.5rem, 5vw, 2rem);
  }
}
