@use '@styles/settings/index' as *;
@use '@styles/components/index' as *;
@use '@styles/utils' as *;

@use 'styles/categories.scss';

.home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;

  width: 100%;
}

.container--home {
  @extend .container;
}

.home__hero {
  display: flex;
  gap: 50px;
  align-items: center;

  padding: 100px 0;

  @include media($size-tablet) {
    flex-flow: column nowrap;
  }
}

.home__heroAppeal {
  flex: 1 1 70%;

  p {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 1.3;
  }

  @include media($size-tablet) {
    order: 2;
  }
}

.home_heroImage {
  flex: 1 5 30%;

  width: 100%;

  border-radius: 10px;

  object-fit: cover;

  @include media($size-tablet) {
    order: 1;
  }
}

