@use '@styles/settings/index' as *; @use '@styles/components/index' as *;
@use '@styles/utils' as *;

@use 'styles/home__hero.scss';

.home {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas:
    "hero auto diagnostics"
    "hero ups diagnostics";

  padding: 35px 0;

  width: 100%;
}

.home__hero {
  grid-area: hero;
  text-align: center;
  padding: 50px;

  p {
    font-size: 2rem;
  }
}

.home__autoBat,
.home__upsBat,
.home__diagnostics {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: transparent;
  text-align: center;
  font-size: 1.1rem;
  cursor: pointer;

   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
      z-index: 1;
    }

  span {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    z-index: 2;
    color: $color-background;

    font-width: 600;
    font-size: 2rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

  }
}

// Individual section positioning
.home__autoBat {
  grid-area: auto;
  // Remove the specific img styles since they're now handled above
}

.home__upsBat {
  grid-area: ups;
}

.home__diagnostics {
  grid-area: diagnostics;
  flex-direction: row;
  text-align: left;
}
