@use '@styles/settings/index' as *;
@use '@styles/components/index' as *;
@use '@styles/utils' as *;

@use 'styles/home__hero.scss';

.home {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;

  width: 100%;
}

.container--home {
  @extend .container;
}

