/* ---------- FONT STACKS --------------- */
$raleway: 'Raleway', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;
$roboto-mono: 'Roboto Mono', sans-serif;
$noto-emoji: 'Noto Emoji', sans-serif;
$noto-color-emoji: 'Noto Color Emoji', sans-serif;

/* $pacifico: 'Pacifico', cursive; */
/* $noto-serif: 'Noto Serif', serif; */

/* ---------- SEMANTIC FONTS --------------- */
$font-primary: $raleway;
$font-secondary: $roboto-slab;
$font-mono: $roboto-mono;
$font-emoji: $noto-emoji;
$font-color-emoji: $noto-color-emoji;
