@use './variables/_colors.scss' as color;
@use './variables/_fonts.scss' as font;

@forward './variables/_sizes.scss' as size-*;

/* ---------- COLORS --------------- */

$color-primary: color.$blue-indigo;
$color-secondary: color.$yellow-tangerine;

$color-downplay: color.$white-old-silver;

$color-confirm: color.$green-ao;
$color-decline: color.$red-deep-pink;

$color-error: color.$rd-error;
$color-success: color.$gr-success;
$color-warning: color.$yl-warning;
$color-info: color.$blu-info;

$color-text-primary: color.$black-rich;
$color-text-secondary: color.$gray-dark-charcoal;

$color-background: color.$white-cultured;



/* ---------- FONTS --------------- */
$font-primary: font.$raleway;
$font-secondary: font.$roboto-slab;

$font-mono: font.$roboto-mono;
$font-emoji: font.$noto-emoji;
$font-color-emoji: font.$noto-color-emoji;

/* ============================ */

