

/* TODO: should I record colors in rgba array, so I can apply opacity? */
/* background: rgba(248, 249, 250, 0.9); */

/* -------------------------------------------------- black -------------------------------------------------- */
$blck-chocolate: #181c14;
$blck-rich: #040d12;
$blck-gunmetal: #2b3137;

/* -------------------------------------------------- white -------------------------------------------------- */
$wh-cultured: #f5f5f5;
$wh-bone: #eae4dd;
$wh-lightsilv: #d5dadd;
$wh-silver: #c0c0c0;
$wh-platinum: #e4e4e4;
$wh-oldsilv: #848482;

/* -------------------------------------------------- blue -------------------------------------------------- */
$blu-navy: #1e2a5e;
$blu-gray: #295f98;
$blu-dark-gray: #31363f;
$blu-indigo: #1e3a5f;
$blu-dasl: #2f4858;
$blu-indep: #485a73;

$blu-argentinian: #6cb4ee;
$blu-defrance: #318ce7;
$blu-azure: #318ce7;

/* -------------------------------------------------- green -------------------------------------------------- */
$gr-charleston: #222831;
$gr-ao: #008000;

$gr-medbud: #c8e59b;
$gr-yellow: #bee97c;
$gr-dur: #5a9a5c;
$gr-nyanza: #ecffdc;
$gr-palebud: #e5ffbb;
$gr-bangl: #04724d;
$gr-ocean: #4bbc8e;
$gr-deepfir: #143e00;
$gr-christi: #69a015;
$gr-sushi: #8db84e;
$gr-pastel: #75a959;
$gr-confire: #9bcf53;
$gr-sulu: #969a8f;

/* -------------------------------------------------- yellow -------------------------------------------------- */
$color-yell-banana: #ffe234;
$color-yell-brightsun: #ffd43b;

/* -------------------------------------------------- red -------------------------------------------------- */
$rd-spink: #ffbfbf;
$rd-decapink: #ff3131;
$rd-suncycl: #f84147;

/* -------------------------------------------------- purple -------------------------------------------------- */
$prpl-iris: #5d3fd3;

