$noto-serif: 'Noto Serif', serif;

$roboto-mono: 'Roboto Mono', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;

$raleway: 'Raleway', sans-serif;

$pacifico: 'Pacifico', cursive;

$noto-color-emoji: 'Noto Color Emoji', sans-serif;
$noto-emoji: 'Noto Emoji', sans-serif;

/* .noto-serif-<uniquifier> { */
/*   font-family: "Noto Serif", serif; */
/*   font-optical-sizing: auto; */
/*   font-weight: <weight>; */
/*   font-style: normal; */
/*   font-variation-settings: */
/*     "wdth" 100; */
/* } */
