$raleway: 'Raleway', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;

$roboto-mono: 'Roboto Mono', sans-serif;

$noto-color-emoji: 'Noto Color Emoji', sans-serif;
$noto-emoji: 'Noto Emoji', sans-serif;


/* $pacifico: 'Pacifico', cursive; */
/* $noto-serif: 'Noto Serif', serif; */
