@use '@styles/settings/index' as *;
@use '@styles/components/index' as *;
@use '@styles/utils' as *;

.catalog--auto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'hero auto diagnostics'
    'hero ups diagnostics';

  transition:
    grid-template-columns 0.5s ease,
    grid-template-rows 0.5s ease,
    grid-template-areas 0.5s ease;

  width: 100%;
  padding: 20px 50px;

  position: relative;

  &:has(a.catalog__-40ah:hover) {
    grid-template-areas:
      'c-40ah c-40ah c70-80ah'
      'c-40ah c-40ah c115-140ah'
      'c140-190ah c190ah- .';

    a.catalog__-40ah {
      position: absolute;
    }
  }
}


.catalog--auto a {
  display: block;

  position: relative;

  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
  }

  &.catalog__-40ah {
    grid-area: c-40ah;
  }

  &.catalog__60-70ah {
    grid-area: c60-70ah;
  }

  &.catalog__70-80ah {
    grid-area: c70-80ah;
  }

  &.catalog__90-100ah {
    grid-area: c90-100ah;
  }

  &.catalog__100-115ah {
    grid-area: c100-115ah;
  }

  &.catalog__115-140ah {
    grid-area: c115-140ah;
  }

  &.catalog__140-190ah {
    grid-area: c140-190ah;
  }

  &.catalog__190ah- {
    grid-area: c190ah-;
  }
}
