@use '@styles/settings/index' as *;
@use '@styles/components/index' as *;
@use '@styles/utils' as *;


.catalog--auto {
  margin: 0 auto;
  padding: 1rem;
}

.catalog__gallery {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 0;
  }
}

.s60,
.s70,
.s80,
.s90,
.s100,
.s120 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1.5rem;
  padding: 2rem 0;
  background-color: #f5f6f7;
}

.s60 {
}

.s70 {
}

.s80 {
}

.s90 {
}

.s100 {
}

.s120 {
}
