@use 'settings/reset.scss' as *;
@use 'settings/normalize.scss' as *;
@use 'settings/index' as *;
@use 'components/index' as *;
@use 'utils' as *;

html {
  overscroll-behavior: none;
  overflow-x: hidden;

  body {
    overflow-x: hidden;

    font-family: $font-primary;
    font-weight: 400;
    color: $color-text-primary;

    background-color: $color-bg-primary;
  }
}

#pageContainer {
  display: flex;

  min-height: 80vh;
  width: 100vw;
}

/* TODO: create general styles for all the links */
a.inLink {
  cursor: pointer;
  /* color: $color-link-primary; */
}
