@use 'settings/reset.scss' as *;
@use 'settings/normalize.scss' as *;
@use 'settings/index' as *;

@use 'components/index' as *;

@use 'utils' as *;


html {
  overscroll-behavior: none;
  overflow-x: hidden;

  body {
    overflow-x: hidden;

    font-family: $font-primary, sans-serif;
    font-weight: 400;
    font-color: $color-primary;
    /* color: $color-blck-rich; */

    background-color: $color-background;

    main {
      display: flex;
      margin-top: 80px;
      min-height: 80vh;
      width: 100vw;
    }

    a {
      cursor: pointer;
      /* TODO: create general styles for all the links */

      /* color: $color-blck-rich; */
    }
  }

  .emoji--color {
    font-family: 'Noto Color Emoji', serif;
    font-weight: 400;
    font-style: normal;
  }

  .emoji--mono {
    font-family: 'Noto Emoji', serif;
    font-weight: 400;
    font-style: normal;
  }
}

