.aboutPage {
  /* TODO: move these colors to index */
  $primary-color: #004d99;
  $secondary-color: #ffcc00;
  $text-color: #333;
  $background-color: #f4f4f4;

  display: grid;
  grid-template-areas:
    'company about whyUs'
    'development commitment .';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: $text-color;
  background-color: $background-color;

  margin: 0 auto;
  padding: 1rem;

  h1,
  h2,
  h3 {
    color: $primary-color;
    margin-top: 0;
  }

  section {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    h2 {
      border-bottom: 2px solid rgba($color-downplay, 0.2);
      padding-bottom: 10px;
      margin-bottom: 25px;
      font-size: 1.8em;
    }

    h3 {
      font-size: 1.4em;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    grid-template-areas:
      'company'
      'about'
      'whyUs'
      'development'
      'partnersList'
      'commitment';

    grid-template-columns: 1fr;
  }
}

.aboutPage__company {
  grid-area: company;
}

.aboutPage__about {
  grid-area: about;
}

.aboutPage__whyUs {
  grid-area: whyUs;

  &-highlight {
    font-style: italic;
    font-weight: 500;
    font-size: 1.1em;
    color: darken(#333, 10%);
  }
}

.aboutPage__development {
  grid-area: development;

  strong {
    color: #004d99;
  }
}

.aboutPage__commitment {
  grid-area: commitment;

  p:last-child {
    margin-bottom: 0;
  }
}

