@use '@styles/settings/index' as *;
@use '@styles/components/index' as *;
@use '@styles/utils' as *;

.aboutPage {
  display: grid;
  grid-template-areas:
    'company about whyUs'
    'development commitment .';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  line-height: 1.6;
  font-weight: 500;
  color: $color-text-primary;
  background-color: rgba($color-bg-primary, 0.5);

  margin: 0 auto;
  padding: 1rem;

  h1,
  h2,
  h3 {
    font-weight: 600;
    color: $color-primary;
    margin-top: 0;
  }

  section {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    h2 {
      border-bottom: 2px solid $color-secondary;
      padding-bottom: 10px;
      margin-bottom: 25px;
      font-size: 1.8em;
    }

    h3 {
      font-size: 1.4em;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    grid-template-areas:
      'company'
      'about'
      'whyUs'
      'development'
      'partnersList'
      'commitment';

    grid-template-columns: 1fr;
  }
}

.aboutPage__company {
  grid-area: company;
}

.aboutPage__about {
  grid-area: about;
}

.aboutPage__whyUs {
  grid-area: whyUs;

  &-highlight {
    font-style: italic;
    font-weight: 500;
    font-size: 1.1em;
    color: darken($color-text-secondary, 10%);
  }
}

.aboutPage__development {
  grid-area: development;

  strong {
    color: $color-primary;
  }
}

.aboutPage__commitment {
  grid-area: commitment;

  p:last-child {
    margin-bottom: 0;
  }
}
